* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: linear-gradient(rgb(58, 3, 109), rgba(137, 43, 226, 0.187) 50%, rgba(137, 43, 226, 0.091));
  --background-color: rgb(109, 72, 143);
}

html {
  font-size: calc(0.5rem + 1vw);
}

body {
  width: 100vw;
  background: var(--background);
  background-attachment: fixed;
}

header {
  margin-bottom: 2rem;
  width: 100%;
  position: sticky;
  top: 0;
}

nav {
  padding: 1rem;
  background-color: var(--background-color);
}

li {
  list-style-type: none;
}

.nav-ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link {
  display: block;
  color: rgb(210, 207, 207);
  padding: 0.5rem;
}

.current {
  font-weight: bold;
  font-size: 120%;
}

h1 {
  margin: 1rem;
}

h2 {
  padding: 1rem;
}

p {
  margin: 1rem 2rem;
}

.language {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

/* index.html */

.img-me {
  width: 50vw;
  min-width: 250px;
  border-radius: 50%;
  margin: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgb(46, 43, 43);
}

.index-main {
  width: 100%;
  text-align: center;
}

/* cv.html */

.hidden {
  visibility: hidden;
}

.cv-article {
  margin: 1rem;
}

.cv-second-heading {
  padding: 0.5rem 0 0.3rem 0.5rem;
}

.cv-article ul {
  margin-left: 1.5rem;
}

.cv-article li {
  padding-top: 0.2rem;
}

/* projects.html */

.project-info {
  margin-bottom: 3vh;
}

.github {
  background-image: url(Github-Profil.png);
  background-size: cover;
}

.restaurant-gk {
  background-image: url(Restaurant.png);
  background-size: cover;
}

.umweltschutz {
  background-image: url(Umweltschutz.png);
  background-size: cover;
}

.bmi {
  background-image: url(BMI.png);
  background-size: cover;
}

.reiseführer {
  background-image: url(Reiseführer.png);
  background-size: cover;
}

.casino {
  background-image: url(Casino.png);
  background-size: cover;
}

.projects-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-article, .projects-link {
  width: 60vw;
  height: 30vw;
  border-radius: 1rem;
  display: block;
  margin: 2rem;
}

.projects-article {
  box-shadow: 1.5vw 1.5vw 2vw rgb(54, 54, 54);
  min-width: 300px;
  min-height: 150px;
}

/* contact.html */

.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mail-heading {
  margin: 1rem;
  font-size: 1.5rem;
}

.mail-button {
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgba(89, 89, 184, 0.543);
  border-radius: 1rem;
  font-size: 1rem;
}

.mail-link {
  color: #000;
}

@media screen and (min-width:1000px) {
  
  html {
  font-size: 1.5rem;
  }

  body {
    height: 100vh;
  }

  /* index.html */

  .overflow {
    height: 70vh;
    overflow-y: scroll;
  }

  .index-main {
    display: flex;
    justify-content: space-evenly;
  }

  .index-article {
    max-width: 45vw;
  }

  .img-me {
    max-width: 20vw;
  }

  /* cv.html */

  .hidden {
    width: max-content;
    height: max-content;
    padding: 1rem;
    visibility: visible;
    border-radius: 1rem;
    box-shadow: 
      -0.1rem 0 0.1rem rgb(118, 84, 84) inset,
      0 -0.1rem 0.1rem rgb(118, 84, 84) inset;
  }

  .cv-main {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cv-article {
    width: 30vw;
    height: 60vh;
    overflow-y: scroll;
  }

  /* projects.html */

  .projects-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .projects-article {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 
          0 10vw 0 rgb(121, 165, 243) inset,
          10vw 0 0 rgb(235, 104, 104) inset,
          0 -10vw 0 rgb(212, 116, 234) inset,
          -10vw 0 0 rgb(138, 220, 250) inset;
    transition: box-shadow 1s;
  }

  .projects-article:hover {
    box-shadow: 0 1vw 0 rgb(11, 37, 83) inset,
                1vw 0 0 rgb(69, 19, 19) inset,
                0 -1vw 0 rgb(69, 26, 79) inset,
                -1vw 0 0 rgb(162, 92, 180) inset;
  }
  
  .projects-link {
    display: block;
    width: 30vw;
    height: 13vw;
  }

  /* contact.html */
  
  .mail-button {
    transition:  0.75s;
  }

  .mail-button:hover {
    font-size: 110%;
    box-shadow: 0.5rem 0.5rem 1rem rgb(46, 43, 43);
  }
}